[Desktop Entry]
Name=KPhotoAlbum
Name[ca]=KPhotoAlbum
Name[da]=KPhotoAlbum
Name[de]=KPhotoAlbum
Name[en_GB]=KPhotoAlbum
Name[es]=KPhotoAlbum
Name[et]=KPhotoAlbum
Name[is]=KPhotoAlbum
Name[ms]=KPhotoAlbum
Name[nb]=KPhotoAlbum
Name[nl]=KPhotoAlbum
Name[pt]=KPhotoAlbum
Name[pt_BR]=KPhotoAlbum
Name[sv]=Kfotoalbum
Name[tr]=KPhotoAlbum
Name[uk]=KPhotoAlbum
Name[zh_TW]=KPhotoAlbum
Exec=kphotoalbum
GenericName=Photo Album
GenericName[ca]=Àlbum de fotos
GenericName[da]=Fotoalbum
GenericName[de]=Fotoalbum
GenericName[en_GB]=Photo Album
GenericName[es]=Álbum de fotos
GenericName[et]=Fotoalbum
GenericName[is]=Myndaalbúm
GenericName[ms]=Album Gambar
GenericName[nb]=Fotoalbum
GenericName[nl]=Fotoalbum
GenericName[pt]=Álbum de Fotografias
GenericName[pt_BR]=Álbum de fotografias
GenericName[sv]=Fotoalbum
GenericName[tr]=Fotoğraf Albümü
GenericName[uk]=Фотоальбом
GenericName[zh_TW]=相簿
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kphotoalbum
Categories=Qt;KDE;Graphics;Photography;
