[Desktop Entry]
Name=KPhotoAlbum
Name[ca]=KPhotoAlbum
Name[da]=KPhotoAlbum
Name[en_GB]=KPhotoAlbum
Name[es]=KPhotoAlbum
Name[et]=KPhotoAlbum
Name[nb]=KPhotoAlbum
Name[nl]=KPhotoAlbum
Name[sv]=Kfotoalbum
Name[uk]=KPhotoAlbum
Name[zh_TW]=KPhotoAlbum
Exec=kphotoalbum --import %u
GenericName=Photo Album
GenericName[ca]=Àlbum de fotos
GenericName[da]=Fotoalbum
GenericName[en_GB]=Photo Album
GenericName[es]=Álbum de fotos
GenericName[et]=Fotoalbum
GenericName[nb]=Fotoalbum
GenericName[nl]=Fotoalbum
GenericName[sv]=Fotoalbum
GenericName[uk]=Фотоальбом
GenericName[zh_TW]=相簿
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kphotoalbum
Categories=Qt;KDE;Graphics;
NoDisplay=true
MimeType=application/vnd.kde.kphotoalbum-import;
