[Desktop Entry]
Name=KPhotoAlbum
Name[ca]=KPhotoAlbum
Name[da]=KPhotoAlbum
Name[et]=KPhotoAlbum
Exec=kphotoalbum --import %u
GenericName=Photo Album
GenericName[ca]=Àlbum de fotos
GenericName[da]=Fotoalbum
GenericName[et]=Fotoalbum
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Icon=kphotoalbum
Categories=Qt;KDE;Graphics;
NoDisplay=true
MimeType=application/vnd.kde.kphotoalbum-import;
